* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar-heatmap {
  width: 500px;
}

.react-calendar-heatmap .color-scale-1 { fill: #74b9ff; }
.react-calendar-heatmap .color-scale-2 { fill: #00a8ff; }
.react-calendar-heatmap .color-scale-3 { fill: #0097e6; }
.react-calendar-heatmap .color-scale-4 { fill: #0984e3; }
